<form class="hidden-form" id="<%= formAction %>" action="/<%= formAction === 'update' ? 'books/'+book.id : formAction === 'create' ? '/searches/new' : '' %>" method="post">
  <fieldset>
    <input type="hidden" name="_method" value="<% formAction === 'update' ? 'put' : formAction === 'delete' ? 'delete' : 'post' %>">
    <label for="title">
      <section>Title</section>  
      <input type="text" name="title" value="<%= book.title %>" required>
    </label>
    <label for="img_url">
      <section>Image URL</section>
      <input type="text" name="img_url" value="<%= book.img_url %>" required>
    </label>
    <label for="authors">
      <section>Author(s)</section>
      <input type="text" name="authors" value="<%= book.authors %>" required>
    </label>
    <label for="isbn">
      <section>ISBN</section>
      <input type="text" name="isbn" value="<%= book.isbn %>" required>
    </label>
    <label for="description">
      <section>Description</section>
      <textarea type="text" name="description" required><%= book.description %></textarea>
    </label>
    <label for="new-bookshelf">
      <section>Bookshelf Name</section>
      <input type="text" name="new_bookshelf" placeholder="Enter New Bookshelf Name or Select From List Below">
    </label>
    <label for="bookshelf">
      <section>Existing Bookshelves</section>
      <select name="bookshelf">
        <% bookshelves.forEach(shelf => { %>
          <% let selected = ( book.bookshelf === shelf.bookshelf ) ? 'selected' : ''; %>
          <option value="<%= shelf.bookshelf %>" <%= selected %> ><%= shelf.bookshelf %></option> 
        <% }); %>
      </select>
    </label>
  </fieldset>
  <button type="submit">Save Book</button>
  <button type="submit" class="<%= formAction === 'delete' ? 'show-delete' : 'hide-delete' %>">Delete</button>
</form>
