<!DOCTYPE html>

<html lang="en">
    <%- include('./books/head') %>
    <body>
    <header>
      <h1>book app</h1>
      <a href="/">Saved Books</a>
      <a href="/searches/new">Search API</a>
      <hr>
      <h4><%= results.length ? results.length : '0' %> <%= results.length === 1 ? 'Book in Collection' : 'Books in Collection' %></h4>
      <% results.forEach(book => { %>
        <section class="cards">
          <%- include('./books/card', {book: book}) %>
          <a href="/books/<%= book.id %>" class="show-details" >Show Details</a>
        </section>
      <% }); %>
    </header>
    <main>
    </main>
    <script src="../../public/app.js"></script>
  </body>
  
</html>